# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# PyInstaller
build/
dist/
*.spec
*.manifest
*.exe

# Inno Setup
installer_output/
Output/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Project specific
mysky.ico
*.log